@import "compass";

body {
  background: #ccc;
}

h1 {
  text-align: center;
  margin: 200px auto;
  font-family: "League-Gothic", Courier;
  font-size: 200px;
  text-transform: uppercase;
  color: #FFF;

  &.step0 {
    @include text-shadow(10px 10px 0 #FFD217, 20px 20px 0 #5AC7FF, 30px 30px 0 #FF00B8, 40px 40px 0 #FFD217);
  }
  &.step1 {
    @include text-shadow(10px 10px 0 #FF00B8, 20px 20px 0 #FFD217, 30px 30px 0 #5AC7FF, 40px 40px 0 #FF00B8);
  }
  &.step2 {
    @include text-shadow(10px 10px 0 #5AC7FF, 20px 20px 0 #FF00B8, 30px 30px 0 #FFD217, 40px 40px 0 #5AC7FF);
  }
  &.step3 {
    @include text-shadow(10px 10px 0 #FFD217, 20px 20px 0 #5AC7FF, 30px 30px 0 #FF00B8, 40px 40px 0 #FFD217);
  }
  &.step4 {
    @include text-shadow(10px 10px 0 #FF00B8, 20px 20px 0 #FFD217, 30px 30px 0 #5AC7FF, 40px 40px 0 #FF00B8);
  }
  &.step5 {
    @include text-shadow(10px 10px 0 #5AC7FF, 20px 20px 0 #FF00B8, 30px 30px 0 #FFD217, 40px 40px 0 #5AC7FF);
  }

}